$primary: rgb(212, 212, 21);
$white: #fff;
$black: #000;
$black-light: #141119;

body {
  background-image: linear-gradient(
    to right,
    $black,
    $black-light,
  );
}

a {
  text-decoration: none;
}

.container {
  width: 1100px;
  margin: 0 auto;
}
