@import "../../sass/app.scss";

.left__container {
  display: flex;
  justify-content: center;
  align-items: center;
  .logo__img {
    object-fit: contain;
    height: 12vh;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid $white;
    box-shadow: 0 0px 12px $white;
  }
  .full_name {
    h2 {
      text-transform: uppercase;
      margin: 0;
      letter-spacing: 4px;
    }
    p {
      text-transform: capitalize;
      color: $primary;
    }
  }
}


@media all and (max-width: $sm){
  .left__container {
    flex-direction: column;
    .full_name {
      h2 {
        font-size: 20px;
      }
    }
  }
}
