@import "../../sass/app.scss";

.left__container {
  display: flex;
  align-items: center;
  .logo__img {
    object-fit: contain;
    height: 12vh;
    border-radius: 50%;
    margin-right: 10px;
  }
  .full_name {
    h2 {
      text-transform: uppercase;
      margin: 0;
    }
    p {
      text-transform: capitalize;
      color: $primary;
    }
  }
}
