@import "../../sass/app.scss";

.post {
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s linear;
  color: $white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3.5em;
  opacity: 0.4;
  .main__title {
    h2 {
      text-transform: uppercase;
      font-size: 1.5em;
      font-weight: bold;
    }
    p {
      font-size: 0.8em;
      color: rgb(163, 143, 143);
    }
    padding: 20px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .thumbnail_container {
    width: 50%;
    padding: 30px;
  }
  &:hover {
    opacity: 1;
    box-shadow: 0 0 10px rgb(90, 57, 90);
  }
}

@media all and (max-width: $md){
  .post {
    padding: 30px 0;
    .main__title {
      padding: 0
    }
    .thumbnail_container {
      width: auto;
    }
  }
}

@media all and (max-width: $sm){
  .post {
    padding: 20px 0;
    .main__title {
      h2{
        font-size: 16px;
      }
      p {
        display: none
      }
    }
  }
}
